body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #111419;
    color: white;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.topo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Ajuste conforme necessário */
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5em;
}

.centro {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#palavra {
    font-size: 3em; /* Ajuste este valor conforme necessário */
    font-weight: bold; /* Adiciona negrito ao texto, se desejado */
    margin: 20px 0; /* Espaçamento em torno do texto */
}

.base {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px; /* Ajuste conforme necessário */
}

.titulo-imagem {
    width: 150px; /* Ajuste este valor conforme necessário */
    height: auto;
    max-width: 100%;
    object-fit: contain; /* ou use cover dependendo do que você preferir */
}

input, button {
    margin: 10px;
}

/* Media queries para telas menores */
@media (max-width: 768px) {
    body {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 20px;
        height: auto;
    }

    .topo {
        margin-top: 10px;
        font-size: 2em;
    }

    .titulo-imagem {
        width: 100px; /* Ajuste conforme necessário */
    }

    #palavra {
        font-size: 2em; /* Ajuste para telas menores */
    }

    input, button {
        width: 90%;
        margin: 5px auto;
        padding: 10px;
        font-size: 1em;
    }

    #mensagem, #tentativas, #letras-erradas {
        font-size: 1em;
    }
}

/* Media queries para telas muito pequenas */
@media (max-width: 480px) {
    .topo {
        margin-top: 5px;
        font-size: 1.5em;
    }

    .titulo-imagem {
        width: 80px; /* Ajuste conforme necessário */
    }

    #palavra {
        font-size: 1.5em; /* Ajuste para telas muito pequenas */
    }

    input, button {
        width: 100%;
        padding: 8px;
        font-size: 0.9em;
    }

    #mensagem, #tentativas, #letras-erradas {
        font-size: 0.9em;
    }
}